@use "./variables.scss" as variables;

.--about-me {
  &__background {
    background-color: variables.$amber-spice-orange;
  }

  &__border {
    border-color: variables.$amber-spice-orange;
  }

  &__color {
    color: variables.$amber-spice-orange;
  }
}

.title {
  padding: 100px 0 50px 0;

  &__img {
    display: block;
    width: 600px;
  }
}

.images-container {
  display: flex;
  flex-wrap: wrap;

  &__img {
    width: 50%;
    height: 600px;
    margin-bottom: 30px;
    object-fit: cover;
    object-position: center;
  }

  &__text {
    width: 100%;
    text-align: end;
    font-size: 12px;
    padding-right: 30px;
  }
}

.description {
  padding: 70px 90px;
}

.journey-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;

  &__title {
    width: 100%;
    padding: 0 3%;
  }

  &__img {
    width: 400px;
    height: 600px;
    object-fit: fill;
    margin-bottom: 30px;
  }

  .--img-padding {
    padding-left: 50px;
  }

  &__text {
    width: 100%;
    text-align: center;
    justify-self: flex-end;
    font-size: 12px;
    padding-left: 550px;
  }

  &__description {
    width: 100%;
    padding: 70px 90px;
  }

  &__main-img {
    width: 100%;
    height: 600px;
    object-fit: fill;
    padding: 0 90px;
  }
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 90px;

  &__img {
    width: 48%;
    height: 600px;
    object-fit: fill;
    margin-bottom: 30px;
    padding-top: 60px;
  }

  &__text {
    width: 100%;
    text-align: end;
    justify-self: flex-end;
    font-size: 12px;
  }

  .--text-left {
    text-align: start;
  }
}

.recent-projects {
  padding: 50px 90px;

  &__img {
    width: 500px;
  }
}

.project-tiles {
  background-color: variables.$black;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;

  &__img {
    width: 100%;
    padding-bottom: 40px;
  }

  &__text {
    color: variables.$white;
    text-align: end;
  }
}

.proyect-cta {
  width: 120px;
  height: 120px;
  display: block;
  color: variables.$black;
  background: none;
  border-radius: 100%;
  border: 1px solid variables.$black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;

  &__text {
    text-transform: uppercase;
    font-size: 16px;
    width: 100%;
    text-align: center;
    font-weight: bolder;
  }
}
