/* shree-Devanagari */
@font-face {
  font-display: swap;
  font-family: "Shree-Devanagari";
  font-style: normal;
  src: url("/assets/fonts/ShreeDev0714.woff2") format("woff2");
}

// NT-Vanilla-Alternative
@font-face {
  font-display: swap;
  font-family: "NT-Vanilla-Alternative";
  font-style: normal;
  src: url("/assets/fonts/NT-Vanilla-Alternative.otf") format("otf");
}
